<div class="container d-flex justify-content-center">
  <div class="subcontainer">
    <h1 class="mb-4 text-center">Tous les tournois entre potes</h1>

    <div class="text-center mb-4">
      <%= link_to 'Créer un Tournoi', new_tournament_path, class: 'btn btn-primary' %>
    <div>

    <div class='mt-4'>
      <% if @tournaments.empty? %>
        <p class="">Pas encore de tournois créés, soit le premier !</p>
      <% else %>
        <% @tournaments.each do |tournament| %>
          <div class='my-3 text-center' style='font-size: 20px'><%= link_to tournament.name, tournament_path(tournament) %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
