<div class="container d-flex justify-content-center">
  <div class="subcontainer">
    <h1 class="mb-4">Tous les tournois entre potes</h1>

    <% if user_signed_in? %>
      <div class="text-center mb-4">
        <%= link_to 'Créer un tournoi', new_tournament_path, class: 'btn btn-primary' %>
      <div>
    <% end %>

    <div class='mt-4'>
      <% @tournaments.each do |tournament| %>
        <div class='my-3 text-center' style='font-size: 20px'><%= link_to tournament.name, tournament_path(tournament) %></div>
      <% end %>
    </div>
  </div>
</div>
